<!--DETAIL-->
<div class='pt-3'>
    <header class='entry-header'>
        <h1 class="post-title lg"> The mental toll on health care workers infection rate rises</h1>
        <ul class="post-meta">
            <li class="post-category"> <a class="post-cat"
                    href="http://demo.themewinter.com/wp/digiqole/covid-19/category/covid-19/"
                    style=" background-color:#ff0000;color:#ffffff "> COVID-19</a><a class="post-cat"
                    href="http://demo.themewinter.com/wp/digiqole/covid-19/category/worldwide/"
                    style=" background-color:#38a3d7;color:#ffffff "> Worldwide </a></li>
            <li class="post-author"><img
                    src="http://0.gravatar.com/avatar/f0e2e6b87def982edd54fc5ae25a46b5?s=55&amp;d=mm&amp;r=g"
                    class="rounded-circle" height="55" width="55"> <strong>John Wick</strong></li>
            <li class="post-meta-date"> <i class="fa fa-clock-o"></i> April 30, 2020</li>
            <li class="post-comment"><i class="fa fa-comments"></i> 0</li>
            <li><i class="fa fa-tripadvisor" aria-hidden="true"></i> 1740</li>
        </ul>
    </header>

    <div class="entry-content clearfix">
        <p>Struggling to sell one multi-million dollar home currently on the market won’t stop actress and singer
            Jennifer Lopez from expanding her property collection. Lopez has reportedly added to her real estate
            holdings an eight-plus acre estate in Bel-Air anchored by a multi-level mansion.</p>
        <p>The property, complete with a 30-seat screening room, a 100-seat amphitheater and a swimming pond with sandy
            beach and outdoor shower, was asking about $40 million, but J. Lo managed to make it hers for $28 million.
            As the Bronx native acquires a new home in California, she is trying to sell a gated compound.</p>
        <p></p>
        <p> Black farmers in the US’s South—&nbsp;faced with continued failure their efforts to run successful
            farms&nbsp;their launched a lawsuit claiming that “white racism” is to blame for their inability to the
            produce crop yields and on equivalent to that switched seeds.</p>
        <blockquote class="wp-block-quote">
            <p>I’m thinking I’m back you want a war or you want to just give me a gun everything’s got a price rusty, I
                guess. You stabbed <em> price rusty,</em> the Devil in the back how good to see you again.</p><cite><em
                    style="display: inline !important;">Steve Jobs</em></cite>
        </blockquote>
        <p>Struggling to sell one multi-million dollar home currently on the market won’t stop actress and singer
            Jennifer Lopez from expanding her property collection. Lopez has reportedly added to her real estate
            holdings an eight-plus acre estate in Bel-Air anchored by a multi-level mansion. The property, complete with
            a 30-seat screening room, a 100-seat amphitheater and a swimming pond with sandy beach and outdoor shower,
            was asking about $40 million, but J. Lo managed to make it hers for $28 illion. As the Bronx native acquires
            a new home in California, she is trying to sell a gated compound.</p>
        <div class="wp-block-image">
            <figure class="alignleft size-large"><img
                    src="http://demo.themewinter.com/wp/digiqole/covid-19/wp-content/uploads/sites/4/2020/04/image.jpg"
                    alt="" class="wp-image-7"
                    srcset="http://demo.themewinter.com/wp/digiqole/covid-19/wp-content/uploads/sites/4/2020/04/image.jpg 300w, http://demo.themewinter.com/wp/digiqole/covid-19/wp-content/uploads/sites/4/2020/04/image-222x300.jpg 222w"
                    sizes="(max-width: 300px) 100vw, 300px"></figure>
        </div>
        <h3>Lopez has reportedly added to her real home in California</h3>
        <p>Lo managed to make it hers for $28 million. As the Bronx native acquires a new home in California, she is
            trying to sell a gated compound in the Golden State. The 17,000 square-foot Hidden Hills property with
            mountain views boasts nine bedrooms, including a master suite with private terrace and an entertainment
            wing, which includes a 20-seat theater, dance studio and recording studio. China’s youngest female
            billionaire has unloaded her triplex penthouse in Sydney.</p>
        <p></p>
        <p>The 17,000 square-foot Hidden Hills property with mountain views boasts nine bedrooms, includin. master suite
            with private terrace and an entertainment wing .</p>
        <p>Following years of white-hot growth, luxury home prices in Sydney declined for the first time in years,
            slipping 1% between the second quarter and third quarter of 2018, according to the latest report from
            brokerage Knight Frank.The nearly 6,500-square-foot apartment has sweeping views.</p>
        <figure class="wp-block-image size-large"><img
                src="http://demo.themewinter.com/wp/digiqole/covid-19/wp-content/uploads/sites/4/2020/04/image5.jpg"
                alt="" class="wp-image-8"
                srcset="http://demo.themewinter.com/wp/digiqole/covid-19/wp-content/uploads/sites/4/2020/04/image5.jpg 850w, http://demo.themewinter.com/wp/digiqole/covid-19/wp-content/uploads/sites/4/2020/04/image5-300x198.jpg 300w, http://demo.themewinter.com/wp/digiqole/covid-19/wp-content/uploads/sites/4/2020/04/image5-768x506.jpg 768w, http://demo.themewinter.com/wp/digiqole/covid-19/wp-content/uploads/sites/4/2020/04/image5-455x300.jpg 455w"
                sizes="(max-width: 850px) 100vw, 850px"></figure>
        <h3>The property, complete with a 30-seat screening room, a 100-seat amp<br> hitheater and a swimming pond with
            sandy beach</h3>
        <p>She is trying to sell a gated compound in the Golden State. The 17,000-square-foot Hidden Hills property with
            mountain and city views boasts nine bedrooms, including a master suite with private terrace and an
            entertainment wing, which includes a 20-seat theater</p>
        <figure class="wp-block-image size-large"><img
                src="http://demo.themewinter.com/wp/digiqole/covid-19/wp-content/uploads/sites/4/2020/04/ad.png" alt=""
                class="wp-image-10"
                srcset="http://demo.themewinter.com/wp/digiqole/covid-19/wp-content/uploads/sites/4/2020/04/ad.png 920w, http://demo.themewinter.com/wp/digiqole/covid-19/wp-content/uploads/sites/4/2020/04/ad-300x29.png 300w, http://demo.themewinter.com/wp/digiqole/covid-19/wp-content/uploads/sites/4/2020/04/ad-768x75.png 768w"
                sizes="(max-width: 920px) 100vw, 920px"></figure>
        <h4>Lopez has reportedly added to her real estate holdings an eight-plus</h4>
        <ul>
            <li>Struggling to sell one multi-million dollar home currently on the market</li>
            <li>Lopez has reportedly added to her real estate holdings an eight-plus acre</li>
            <li>The property, complete with a 30-seat screening room, a 100-seat amphit</li>
            <li>Lo managed to make it hers for $28 million. As the Bronx native acquires</li>
        </ul>
        <p>The 17,000-square-foot Hidden Hills property with mountain and city views boasts nine bedrooms, including a
            master suite with private terrace and an entertainment wing, which includes a 20-seat theater.</p>
        <p> Black farmers in the US’s South—faced with continued failure in their efforts to run successful farms their
            launched a lawsuit claiming that “white racism”</p>
        <h3></h3>
        <div class="post-footer clearfix"></div>
    </div>

    <div class="list-post">
        <strong>Tags: </strong>
        <a class="post-cat" href="http://demo.themewinter.com/wp/digiqole/covid-19/category/covid-19/"
            style=" background-color:#00000060;color:#ffffff ">COVID-19</a>
        <a class="post-cat" href="http://demo.themewinter.com/wp/digiqole/covid-19/category/covid-19/"
            style=" background-color:#00000060;color:#ffffff ">COVID-19</a>
        <a class="post-cat" href="http://demo.themewinter.com/wp/digiqole/covid-19/category/covid-19/"
            style=" background-color:#00000060;color:#ffffff ">COVID-19</a>
        <a class="post-cat" href="http://demo.themewinter.com/wp/digiqole/covid-19/category/covid-19/"
            style=" background-color:#00000060;color:#ffffff ">COVID-19</a>
        <a class="post-cat" href="http://demo.themewinter.com/wp/digiqole/covid-19/category/covid-19/"
            style=" background-color:#00000060;color:#ffffff ">COVID-19</a>
    </div>
</div>
<div class='pt-3'></div>
<!--RELATED-->
<div class='pt-3'>
    <h4 class="block-title"> <span class="title-angle-shap"> BÀI VIẾT LIÊN QUAN </span></h4>
    <div class="owl-carousel owl-theme py-4">

        <div class="item item-before"
            style="background-image:url(http://demo.themewinter.com/wp/digiqole/covid-19/wp-content/uploads/sites/4/2020/04/image5-600x398.jpg)">
            <a class="img-link"
                href="http://demo.themewinter.com/wp/digiqole/covid-19/2020/04/30/the-mental-toll-on-health-care-workers-infection-rate-rises/"></a>
            <div class="overlay-post-content">
                <div class="post-content">
                    <div class="grid-category"> <a class="post-cat"
                            href="http://demo.themewinter.com/wp/digiqole/covid-19/category/covid-19/"
                            style="background-color:#ff0000;color:#ffffff"> COVID-19 </a> <a class="post-cat"
                            href="http://demo.themewinter.com/wp/digiqole/covid-19/category/worldwide/"
                            style="background-color:#38a3d7;color:#ffffff"> Worldwide </a></div>
                    <h3 class="post-title"> <a
                            href="http://demo.themewinter.com/wp/digiqole/covid-19/2020/04/30/the-mental-toll-on-health-care-workers-infection-rate-rises/">
                            The mental toll on health care workers infection rate rises </a></h3>
                    <ul class="post-meta-info">
                        <li class="author"> <i class="fa fa-user"></i> John Wick</li>
                        <li> <i class="fa fa-clock-o"></i> April 30, 2020</li>
                        <li><i class="fa fa-tripadvisor" aria-hidden="true"></i> 1740</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="item item-before"
            style="background-image:url(http://demo.themewinter.com/wp/digiqole/covid-19/wp-content/uploads/sites/4/2020/04/image5-600x398.jpg)">
            <a class="img-link"
                href="http://demo.themewinter.com/wp/digiqole/covid-19/2020/04/30/the-mental-toll-on-health-care-workers-infection-rate-rises/"></a>
            <div class="overlay-post-content">
                <div class="post-content">
                    <div class="grid-category"> <a class="post-cat"
                            href="http://demo.themewinter.com/wp/digiqole/covid-19/category/covid-19/"
                            style="background-color:#ff0000;color:#ffffff"> COVID-19 </a> <a class="post-cat"
                            href="http://demo.themewinter.com/wp/digiqole/covid-19/category/worldwide/"
                            style="background-color:#38a3d7;color:#ffffff"> Worldwide </a></div>
                    <h3 class="post-title"> <a
                            href="http://demo.themewinter.com/wp/digiqole/covid-19/2020/04/30/the-mental-toll-on-health-care-workers-infection-rate-rises/">
                            The mental toll on health care workers infection rate rises </a></h3>
                    <ul class="post-meta-info">
                        <li class="author"> <i class="fa fa-user"></i> John Wick</li>
                        <li> <i class="fa fa-clock-o"></i> April 30, 2020</li>
                        <li><i class="fa fa-tripadvisor" aria-hidden="true"></i> 1740</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="item item-before"
            style="background-image:url(http://demo.themewinter.com/wp/digiqole/covid-19/wp-content/uploads/sites/4/2020/04/image5-600x398.jpg)">
            <a class="img-link"
                href="http://demo.themewinter.com/wp/digiqole/covid-19/2020/04/30/the-mental-toll-on-health-care-workers-infection-rate-rises/"></a>
            <div class="overlay-post-content">
                <div class="post-content">
                    <div class="grid-category"> <a class="post-cat"
                            href="http://demo.themewinter.com/wp/digiqole/covid-19/category/covid-19/"
                            style="background-color:#ff0000;color:#ffffff"> COVID-19 </a> <a class="post-cat"
                            href="http://demo.themewinter.com/wp/digiqole/covid-19/category/worldwide/"
                            style="background-color:#38a3d7;color:#ffffff"> Worldwide </a></div>
                    <h3 class="post-title"> <a
                            href="http://demo.themewinter.com/wp/digiqole/covid-19/2020/04/30/the-mental-toll-on-health-care-workers-infection-rate-rises/">
                            The mental toll on health care workers infection rate rises </a></h3>
                    <ul class="post-meta-info">
                        <li class="author"> <i class="fa fa-user"></i> John Wick</li>
                        <li> <i class="fa fa-clock-o"></i> April 30, 2020</li>
                        <li><i class="fa fa-tripadvisor" aria-hidden="true"></i> 1740</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="item item-before"
            style="background-image:url(http://demo.themewinter.com/wp/digiqole/covid-19/wp-content/uploads/sites/4/2020/04/image5-600x398.jpg)">
            <a class="img-link"
                href="http://demo.themewinter.com/wp/digiqole/covid-19/2020/04/30/the-mental-toll-on-health-care-workers-infection-rate-rises/"></a>
            <div class="overlay-post-content">
                <div class="post-content">
                    <div class="grid-category"> <a class="post-cat"
                            href="http://demo.themewinter.com/wp/digiqole/covid-19/category/covid-19/"
                            style="background-color:#ff0000;color:#ffffff"> COVID-19 </a> <a class="post-cat"
                            href="http://demo.themewinter.com/wp/digiqole/covid-19/category/worldwide/"
                            style="background-color:#38a3d7;color:#ffffff"> Worldwide </a></div>
                    <h3 class="post-title"> <a
                            href="http://demo.themewinter.com/wp/digiqole/covid-19/2020/04/30/the-mental-toll-on-health-care-workers-infection-rate-rises/">
                            The mental toll on health care workers infection rate rises </a></h3>
                    <ul class="post-meta-info">
                        <li class="author"> <i class="fa fa-user"></i> John Wick</li>
                        <li> <i class="fa fa-clock-o"></i> April 30, 2020</li>
                        <li><i class="fa fa-tripadvisor" aria-hidden="true"></i> 1740</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="item item-before"
            style="background-image:url(http://demo.themewinter.com/wp/digiqole/covid-19/wp-content/uploads/sites/4/2020/04/image5-600x398.jpg)">
            <a class="img-link"
                href="http://demo.themewinter.com/wp/digiqole/covid-19/2020/04/30/the-mental-toll-on-health-care-workers-infection-rate-rises/"></a>
            <div class="overlay-post-content">
                <div class="post-content">
                    <div class="grid-category"> <a class="post-cat"
                            href="http://demo.themewinter.com/wp/digiqole/covid-19/category/covid-19/"
                            style="background-color:#ff0000;color:#ffffff"> COVID-19 </a> <a class="post-cat"
                            href="http://demo.themewinter.com/wp/digiqole/covid-19/category/worldwide/"
                            style="background-color:#38a3d7;color:#ffffff"> Worldwide </a></div>
                    <h3 class="post-title"> <a
                            href="http://demo.themewinter.com/wp/digiqole/covid-19/2020/04/30/the-mental-toll-on-health-care-workers-infection-rate-rises/">
                            The mental toll on health care workers infection rate rises </a></h3>
                    <ul class="post-meta-info">
                        <li class="author"> <i class="fa fa-user"></i> John Wick</li>
                        <li> <i class="fa fa-clock-o"></i> April 30, 2020</li>
                        <li><i class="fa fa-tripadvisor" aria-hidden="true"></i> 1740</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="item item-before"
            style="background-image:url(http://demo.themewinter.com/wp/digiqole/covid-19/wp-content/uploads/sites/4/2020/04/image5-600x398.jpg)">
            <a class="img-link"
                href="http://demo.themewinter.com/wp/digiqole/covid-19/2020/04/30/the-mental-toll-on-health-care-workers-infection-rate-rises/"></a>
            <div class="overlay-post-content">
                <div class="post-content">
                    <div class="grid-category"> <a class="post-cat"
                            href="http://demo.themewinter.com/wp/digiqole/covid-19/category/covid-19/"
                            style="background-color:#ff0000;color:#ffffff"> COVID-19 </a> <a class="post-cat"
                            href="http://demo.themewinter.com/wp/digiqole/covid-19/category/worldwide/"
                            style="background-color:#38a3d7;color:#ffffff"> Worldwide </a></div>
                    <h3 class="post-title"> <a
                            href="http://demo.themewinter.com/wp/digiqole/covid-19/2020/04/30/the-mental-toll-on-health-care-workers-infection-rate-rises/">
                            The mental toll on health care workers infection rate rises </a></h3>
                    <ul class="post-meta-info">
                        <li class="author"> <i class="fa fa-user"></i> John Wick</li>
                        <li> <i class="fa fa-clock-o"></i> April 30, 2020</li>
                        <li><i class="fa fa-tripadvisor" aria-hidden="true"></i> 1740</li>
                    </ul>
                </div>
            </div>
        </div>



    </div>

</div>

<!--COMMENT-->
<div class='pt-3'>
    <h4 class="block-title"> <span class="title-angle-shap"> BÌNH LUẬN CỦA ĐỘC GIẢ </span></h4>
    <ul class="comments-list py-4">
        {{#each cmtrows}}
        <img src="http://0.gravatar.com/avatar/6b622b6dde539b8091333c656733c122?s=60&amp;d=mm&amp;r=g"
            class="comment-avatar" height="60" width="60">
        <li class="comment">
            <div id="div-comment-2" class="comment-body">
                <div class="meta-data">
                    <strong>{{name}} </strong>
                    <div class="comment-date">
                        July 14, 2019 at 12:24 pm </div>
                </div>
                <div class="comment-content mt-3">
                    <p>{{content}}</p>
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
    <h5>Bạn phải đăng nhập để bình luận</h5>
    <form method="POST">
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Bình luận của bạn: </label>
            <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-outline-primary">Gửi</button>
    </form>
</div>

<div class='pb-5'></div>