{{#section 'title'}}Thêm chuyên mục{{/section}}
{{#section 'css'}}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css" />
{{/section}}
<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">Thêm chuyên mục</h1>

<div class="row">
  <div class="col-lg-12">

    <!-- Circle Buttons -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Thông tin</h6>
      </div>
      <form method='post' class="form">
        <div class="card-body">
          <div class="form-group">
            <label>Tên từ khóa</label>
            <div class="input-group">
              <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-calendar-o" aria-hidden="true"></i></span></div>
              <input name='name' type="text" class="form-control" placeholder="Tên chuyên mục" />
            </div>
          </div>
          
          <div class="form-group mb-2">
            <label>Chuyên mục chung</label>
            <div class="input-group">
              <select name='parent' class="js-category form-control" style="width:100%">
                <option value="0" selected>*CHUYÊN MỤC CẤP 1*</option>
                {{#each parentCategory}}
                <option value="{{id}}">{{name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-primary mr-2">Thêm</button>
        </div>
      </form>
      <!--end::Form-->
    </div>

  </div>
</div>

{{#section 'js'}}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script>
  $('.js-category').select2({
    theme: 'bootstrap'
  });
</script>
{{/section}}