<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fa fa-2x fa-globe" aria-hidden="true"></i>
      </div>
      <div class="sidebar-brand-text mx-3">News 24H</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Tables -->
    <li class="nav-item {{#if (parseSection 'profile' 0)}}active{{/if}}">
      <a class="nav-link" href="/dashboard">
        <i class="fa fa-user" aria-hidden="true"></i>
        <span>Thong tin ca nhan</span></a>
    </li>
    <hr class="sidebar-divider">
    
    {{#if (isEqual user.permisson 1)}}
    <div class="sidebar-heading">
      Premium
    </div>
    {{else if (isEqual user.permisson 2)}}
    <div class="sidebar-heading">
      Bai viet
    </div>
    
    <li class="nav-item">
      <a class="nav-link" href="/dashboard/post/add">
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
        <span>Dang bai viet</span></a>
    </li>
    <li class="nav-item {{#if (parseSection 'post' 'list')}}active{{/if}}">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
        <span>Danh sach bai viet</span>
      </a>
      <div id="collapseTwo" class="collapse {{#if (parseSection 'post' 'list')}}show{{/if}}" aria-labelledby="headingTwo" data-parent="#accordionSidebar" style="">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Loai bai viet:</h6>
          <a class="collapse-item {{#if (isEqual navOption.suffix '/seen')}}active{{/if}}" href="/dashboard/post/list/seen">Da duyet</a>
          <a class="collapse-item {{#if (isEqual navOption.suffix '/unseen')}}active{{/if}}" href="/dashboard/post/list/unseen">Chua duyet</a>
          <a class="collapse-item {{#if (isEqual navOption.suffix '/decline')}}active{{/if}}" href="/dashboard/post/list/decline">Bi tu choi</a>
        </div>
      </div>
    </li>
      {{#if (parseSection 'post' 'edit')}}
    <li class="nav-item active">          
      <a href='' class="nav-link">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        <span>Hieu chinh bai viet</span></a>
    </li>
      {{/if}}
    
    {{else if (isEqual user.permisson 3)}}
    <div class="sidebar-heading">
      Bai viet
    </div>
    
    <li class="nav-item">
      <a class="nav-link">
        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
        <span>Danh sach bai viet</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        <span>chinh sua bai viet</span></a>
    </li>
    
    {{else}}
    <div class="sidebar-heading">
      Quan ly
    </div>
    
    <li class="nav-item {{#if (parseSection 'category' 0)}}active{{/if}}">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCategory" aria-expanded="false" aria-controls="collapseCategory">
        <i class="fa fa-calendar-o" aria-hidden="true"></i>
        <span>Chuyen muc</span>
      </a>
      <div id="collapseCategory" class="collapse {{#if (parseSection 'category' 0)}}show{{/if}}" aria-labelledby="headingTwo" data-parent="#accordionSidebar" style="">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Thao tac  :</h6>
          <a class="collapse-item {{#if (parseSection 'category' 'add')}}active{{/if}}" href="/dashboard/category/add">Them</a>
          <a class="collapse-item {{#if (parseSection 'category' 'list')}}active{{/if}}" href="/dashboard/category/list">Danh sach</a>
          {{#if (parseSection 'category' 'edit')}}
          <a class="collapse-item active" href="">Chinh sua</a>
          {{/if}}
        </div>
      </div>
    </li>
    <li class="nav-item {{#if (parseSection 'tag' 0)}}active{{/if}}">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTag" aria-expanded="false" aria-controls="collapseTag">
        <i class="fa fa-tags" aria-hidden="true"></i>
        <span>Tu khoa (Tag)</span>
      </a>
      <div id="collapseTag" class="collapse {{#if (parseSection 'tag' 0)}}show{{/if}}" aria-labelledby="headingTwo" data-parent="#accordionSidebar" style="">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Thao tac  :</h6>
          <a class="collapse-item {{#if (parseSection 'tag' 'add')}}active{{/if}}" href="/dashboard/tag/add">Them</a>
          <a class="collapse-item {{#if (parseSection 'tag' 'list')}}active{{/if}}" href="/dashboard/tag/list">Danh sach</a>
          {{#if (parseSection 'tag' 'edit')}}
          <a class="collapse-item active" href="">Chinh sua</a>
          {{/if}}
        </div>
      </div>
    </li>
    <li class="nav-item {{#if (parseSection 'post' 0)}}active{{/if}}">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePost" aria-expanded="false" aria-controls="collapsePost">
        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
        <span>Bai viet</span>
      </a>
      <div id="collapsePost" class="collapse {{#if (parseSection 'post' 0)}}show{{/if}}" aria-labelledby="headingTwo" data-parent="#accordionSidebar" style="">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Thao tac  :</h6>
          <a class="collapse-item {{#if (parseSection 'post' 'add')}}active{{/if}}" href="/dashboard/post/add">Them</a>
          <a class="collapse-item {{#if (parseSection 'post' 'list')}}active{{/if}}" href="/dashboard/post/list">Danh sach</a>
          {{#if (parseSection 'post' 'edit')}}
          <a class="collapse-item active" href="">Chinh sua</a>
          {{/if}}
        </div>
      </div>
    </li>
    <li class="nav-item {{#if (parseSection 'account' 0)}}active{{/if}}">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAccount" aria-expanded="false" aria-controls="collapseAccount">
        <i class="fa fa-users" aria-hidden="true"></i>
        <span>Tai khoan</span>
      </a>
      <div id="collapseAccount" class="collapse {{#if (parseSection 'account' 0)}}show{{/if}}" aria-labelledby="headingTwo" data-parent="#accordionSidebar" style="">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Thao tac  :</h6>
          <a class="collapse-item {{#if (parseSection 'account' 'add')}}active{{/if}}" href="/dashboard/account/add">Them</a>
          <a class="collapse-item {{#if (parseSection 'account' 'list')}}active{{/if}}" href="/dashboard/account/list">Danh sach</a>
          {{#if (parseSection 'account' 'edit')}}
          <a class="collapse-item active" href="">Chinh sua</a>
          {{/if}}
        </div>
      </div>
    </li>
    
    {{/if}}
    
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

  </ul>  
  